<div id="ann">
    <ul class="ann_title clear">
        <li ng-class='{true:"active",false:""}[ann_st==0]' ng-click='ann_tab(0)'>作业</li>
        <li ng-class='{true:"active",false:""}[ann_st==1]' ng-click='ann_tab(1)'>考试</li>
        <li ng-class='{true:"active",false:""}[ann_st==2]' ng-click='ann_tab(2)'>其他</li>
    </ul>
    <div class="search">
        <input type="text" placeholder="请输入关键字" ng-model='searchVal' name="">
        <button type="" ng-click='searchAnn()'>搜索</button>
    </div>
    <ul class='ann_content clear'>
        <li ng-repeat='item in getData' ng-click='showAnn(item.ann_content)' class="clear">
            <a href="" title="">{{item.ann_title}}</a>
            <span>{{item.ann_time}}</span>
        </li>
    </ul>
     <ul class="pageList clear" uib-pagination total-items="countAll" items-per-page='count' ng-model="page" boundary-links="true" max-size="maxSize" force-ellipses="true" previous-text="上一页" next-text="下一页" first-text="首页" last-text="尾页" ng-change="pageChanged()" id="pageChange">
</div>
