<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="">
</head>

<body>
    <ul class='questionList'>
        <li ng-repeat='item in chapterData'>
            <!-- 第几章 -->
            <h4>{{item.chapter}}</h4>
            <li class='question' ng-repeat='data2 in item.titleList'>
                第几节
                <h5>{{data2.title}}</h5>
                <ul>
                    <!-- 单选 -->
                    <li class='questions' ng-repeat='data3 in data2.nameList'>
                        <h5>{{data3.name}}</h5>
                        <form ng-repeat='data4 in data3.questionList'>
                            <p>{{data4.question}}</p>
                            <label for="" ng-repeat='data5 in data4.answer'>
                                <input type="{{data5.type}}" name="an1">{{data}}
                            </label>
                        </form>
                    </li>
                    填空
                    <li class='questions text'>
                        <h5>填空题</h5>
                        <div>
                            <label>1:那些同学追随过唐僧:
                                <input type="text" name="" value="">
                            </label>
                        </div>
                    </li>
                    简答
                    <li class='questions text'>
                        <h5>简答题</h5>
                        <div>
                            <label>1:那些同学追随过唐僧:
                                <textarea></textarea>
                            </label>
                        </div>
                    </li>
                </ul>
            </li>
        </li>
        <li>
            <h4>第一章测试</h4>
            <li class='question'>
                <h5>第一节练习</h5>
                <ul>
                    单选
                    <li class='questions'>
                        <h5>单选题</h5>
                        <form>
                            <p>1:以下哪些同学追随过唐僧</p>
                            <label for="">
                                <input type="radio" name="an1">孙悟空
                            </label>
                            <label for="">
                                <input type="radio" name="an1">佛祖
                            </label>
                            <label for="">
                                <input type="radio" name="an1">龙马
                            </label>
                            <label for="">
                                <input type="radio" name="an1">金角大王
                            </label>
                        </form>
                        <form>
                            <p>1:以下哪些同学追随过唐僧</p>
                            <label for="">
                                <input type="radio" name="an1">孙悟空
                            </label>
                            <label for="">
                                <input type="radio" name="an1">佛祖
                            </label>
                            <label for="">
                                <input type="radio" name="an1">龙马
                            </label>
                            <label for="">
                                <input type="radio" name="an1">金角大王
                            </label>
                        </form>
                    </li>
                    填空
                    <li class='questions text'>
                        <h5>填空题</h5>
                        <div>
                            <label>1:那些同学追随过唐僧:
                                <input type="text" name="" value="">
                            </label>
                        </div>
                        <div>
                            <label>1:哪些同学追随过唐僧:
                                <input type="text" name="" value="">
                            </label>
                        </div>
                        <div>
                            <label>1:哪些同学追随过唐僧:
                                <input type="text" name="" value="">
                            </label>
                        </div>
                    </li>
                    简答
                    <li class='questions text'>
                        <h5>简答题</h5>
                        <div>
                            <label>1:那些同学追随过唐僧:
                                <textarea></textarea>
                            </label>
                        </div>
                        <div>
                            <label>1:哪些同学追随过唐僧:
                                <textarea></textarea>
                            </label>
                        </div>
                    </li>
                </ul>
            </li>
        </li>
    </ul>
    <script src='../../'></script
    >
</body>

</html>
