body{
    width: 100%;
    // padding-left: 0.312rem;
    box-sizing: border-box;

.list {
    width: 100%;
    // margin-left: 0.8rem;
    box-sizing: border-box;
    h3 {
        padding:0 0 0 0.8rem;
        font-size: 0.562rem;
        font-weight: bold;
    }
    .radioList {
        // padding:0 0 0 0.8rem;
    	margin-bottom: 0.156rem;
        padding-left: 0.625rem;
        box-sizing: border-box;
        .answerList {
            li {
                p {
                    font-size: 0.438rem;
                }
                label {
                    padding-left: 0.312rem;
                    font-size: 0.438rem;
                    input {
                        font-size: 0.5rem;
                        width: 0.375rem;
                        height: 0.375rem;
                    }
                }
            }
        }
    }
    .voidList {
        // padding:0 0 0 0.8rem;
        padding-left: 0.625rem;
    	margin-bottom: 0.156rem;
        box-sizing: border-box;
        ul {
            li {
                p {
                    font-size: 0.5rem;
                }
                input {
                    border: none;
                    border-bottom: 0.031rem solid black;
                    font-size: 0.5rem;
                }
            }
        }
    }
    .answerList{
    	margin-bottom: 0.156rem  0 0;
        //padding-left: 0.625rem;
        box-sizing: border-box;
        // padding:0 0 0 0.8rem;
        width:90%;
        margin:0 auto;
    	ul{
    		li{
    			p{
    				font-size: 0.5rem;
    			}
    			textarea{
    				width: 8rem;
    				height: 3rem;
    			}
    		}
    	}
    }
    .proList{
        // padding:0 0 0 0.8rem;
        box-sizing: border-box;
        width:90%;
        margin:0 auto;
        //padding-left: 0.625rem;
    	p{
    		font-size: 0.438rem;
    		line-height: 0.8rem;
    	}
    	input{
            margin: 0.156rem 0.0rem;
    		font-size: 0.5rem;
    	}
    }
    .btnList{
        // padding:0  0 0 0.8rem;
        //padding-left: 0.625rem;
        margin-top: 0.312rem;
        width:90%;
        margin:0 auto;
        button{
            width: 2.5rem;
            height: 0.8rem;
            background-color: #669AF5;
            border:none;
            border-radius: 0.312rem;
            outline: none;
            font-size: 0.5rem;
        }
    }
}
.answer{
    padding-left: 0.625rem;
    h2{
        font-size: 0.5rem;
    }
    p{
        padding-left: 0.312rem;
        font-size: 0.438rem;
    }
}
}