<ul class="state clear">
    <li class="start" ng-click='tab(0)' ng-class='{true:"active",false:""}[st==0]'>未完成</li>
    <li ng-click='tab(1)' ng-class='{true:"active",false:""}[st==1]'>已完成</li>
</ul>
<ul class="table-content">
    <li ng-show='st==0'>
        <ul class='questionList'>
            <li>
                <h4 ng-click='par_btn(0)'>第一章</h4>
                <ul ng-show='work_st == 0'>
                    <li>第一节</li>
                    <li>第二节</li>
                    <li>第三节</li>
                    <li>第四节</li>
                </ul>
            </li>
            <li>
                <h4 ng-click='par_btn(1)'>第二章</h4>
                <ul ng-show='work_st == 1'>
                    <li>第一节</li>
                    <li>第二节</li>
                    <li>第三节</li>
                    <li>第四节</li>
                </ul>
            </li>
        </ul>
    </li>
    <li ng-show='st==1'>
         <ul class='questionList'>
            <li>
                <h4 ng-click='par_btn(0)'>第一章</h4>
                <ul ng-show='work_st == 0'>
                    <li ng-click='work_content()'>第一节</li>
                    <li>第二节</li>
                    <li>第三节</li>
                    <li>第四节</li>
                </ul>
            </li>
            <li>
                <h4 ng-click='par_btn(1)'>第二章</h4>
                <ul ng-show='work_st == 1'>
                    <li>第一节</li>
                    <li>第二节</li>
                    <li>第三节</li>
                    <li>第四节</li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
